
main{
    font-family: 'Nunito', sans-serif;

}
.image-view {
    margin-top: 200px;
}
.tech-stack{
    margin: 50px 0;
}

.custom-button{
    padding: 10px 35px;
    background: blue;
    color: white;
    list-style: none;
}
.custom-button:hover{
    text-decoration: none;
    color: white;
}


